
<body>
<div class="row">
  <% for entry in @entries %>
    <div class="col-sm-6 col-md-3">
     <h4>
        <%# find user who created post %>
        <% user = User.find_by(id: entry.user_id) %>
        <%# handle any potential bad data where the post is missing a user %>
        <% if user %>
          <%= user.id %>
        <% else %>
          anonymous
        <% end %>
      </h4>
    
      <% if entry.uploaded_image.attached? %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= entry["image"] %>" class="img-fluid">
      <% end %>
  
</div>
</body>

